[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-matchit"]
	path = home/.vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit.git
[submodule "home/.vim/bundle/Recover.vim"]
	path = home/.vim/bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "home/.vim/bundle/ShowTrailingWhitespace"]
	path = home/.vim/bundle/ShowTrailingWhitespace
	url = https://github.com/vim-scripts/ShowTrailingWhitespace.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/gruvbox"]
	path = home/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/vimwiki"]
	path = home/.vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "home/.vim/bundle/vim-pathogen"]
	path = home/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/vim-misc"]
	path = home/.vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "home/.vim/bundle/taglist.vim"]
	path = home/.vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
